{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>Iniciar Sesión</title>
{% endblock %}

{% block css %}
<link rel='stylesheet' href='{% static "css/registro.css" %}'>
{% endblock %}

{% block contenido %}
<section class="signup">
    <div class="container">
        <div class="row formulario">
            <div class="col-md-8 offset-md-2">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Iniciar Sesión</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username">
                                    <i class="fas fa-user"></i>
                                </label>
                                <input type="text" name="username" value="asda" autofocus="" autocapitalize="none" 
                                autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Nombre de Usuario">
                            </div>
                            <div class="form-group">
                                <label for="id_password">
                                    <i class="fas fa-lock"></i>
                                </label>
                                <input type="password" name="password" autocomplete="current-password" required="" id="id_password"
                                placeholder="Contraseña">
                            </div>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="form-group form-button d-flex justify-content-center align-items-center">
                                <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                            </div>
                            <a href="{% url 'apps.usuarios:registrar' %}" class="signup-image-link">Crear una cuenta</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById("id_password1").placeholder = "Contraseña";
    document.getElementById("id_username1").placeholder = "Nombre de Usuario";
</script>
{% endblock %}