<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'apps.usuarios:iniciar_sesion' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <i class="fas fa-user"></i> Nombre de Usuario
                        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                            maxlength="150" required="" class="form-control" id="id_username">
                    </div>
                    <div class="mb-3">
                        <i class="fas fa-lock"></i> Contraseña
                        <input type="password" name="password" autocomplete="current-password" required=""
                            class="form-control" id="id_password">
                    </div>
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="d-flex  justify-content-center">
                        <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="{% url 'apps.usuarios:registrar' %}" class="btn btn-secondary">Registrarse</a>
                <button type="button" class="btn active" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("id_password").placeholder = "Contraseña";
    document.getElementById("id_username").placeholder = "Nombre de Usuario";
</script>