{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Listado de usuarios</title>
{% endblock %}

{% block contenido %}

<section data-bs-version="5.1" class="team2 cid-tffTM7TT6b">
    <h2 style="text-align:center; margin-top: 2%;"><strong>Usuarios</strong></h2>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Username</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Colaborador</th>
                    <th scope="col">Fecha de Registro</th>
                </tr>
            </thead>
            {% for item in usuarios %}
            <tbody style="text-align: center;">
                <tr>
                    <th scope="row">{{item.pk}}</th>
                    <td><img src="{{item.imagen.url}}" alt="perfil" width="40" height="auto" class="rounded-circle flex-shrink-0"></td>
                    <td>{{item.username}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.fecha_nacimiento}}</td>
                    <td>{{item.es_colaborador}}</td>
                    <td>{{item.date_joined}}</td>
                    {% if item.is_superuser %}
                    {% else %}
                    <td><a href="{% url 'apps.usuarios:eliminar_usuario' item.pk %}" class="btn btn-outline-dark"
                        style="font-size: small;">Eliminar</a></td>
                    {% endif %} 
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}





