{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Perfil</title>
{% endblock %}

{% block contenido %}
<section class="seccion-perfil-usuario">

    <div class="perfil-usuario-portada">
        <div class="perfil-usuario-imagen">
            <img src="{{user.imagen.url}}" alt="img-perfil">
        </div>
        <a class="boton-portada" href="{% url 'apps.usuarios:actualizar_usuario' user.pk %}">Editar Perfil</a>
    </div>

    <div class="perfil-usuario-body">
        <div class="perfil-usuario-username">
            <h3 class="titulo">{{user.username}}</h3>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fa-solid fa-user"></i> Nombre: {{user}}</li>
                <li><i class="icono fa-solid fa-user"></i> Apellido: {{user.apellido}}</li>
                <li><i class="icono fas fa-envelope"></i> Email: {{user.email}}</li>
                <li><i class="icono fas fa-calendar"></i> Fecha de Nacimiento: {{user.fecha_nacimiento}}</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}

<a class="boton-portada" href="{% url 'apps.usuarios:actualizar_usuario' user.pk %}">Editar Perfil</a>