{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Eliminar Comentario</title>
{%endblock %}

{% block contenido %}
<div class="row justify-content-md-center ">
    <div class="col-md-6">
        <div class="list-group-item gap-3 py-3" aria-current="true">
            <form method="POST">{%csrf_token%}
                <p>Seguro que desea eliminar la opinion?</p>
                <input class="btn btn-outline-danger" type="submit" value="Si, eliminar" />
            </form>
            <a href="{% url 'apps.post:contenido_post' comentario.post.id %}" class="btn btn-secondary"
                style="font-size: small;">No, volver</a>
        </div>
    </div>
</div>
{% endblock %}