{% load static %}

<footer class="text-center text-white" style="background-color: #212529">
  <div class="container">
    <hr class="my-2" />
    <section class="mb-0">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p>
            Este sitio ha sido diseñado por el Grupo 4 de la Comisión 4 de la Cohorte B - 2023 del
            Informatorio de la Provincia del Chaco para transmitirles información sobre
            Herramientas Informáticas para el desarrollo web.
          </p>
        </div>
      </div>
    </section>

    <section class="text-center mb-3">
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github"></i>
      </a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="">Informatorio</a>
  </div>

</footer>