{% load static %}

<footer class="text-center text-white" style="background-color: #212529">
  <div class="container-fluid">
    <hr class="my-2" />
    <section class="mb-0">
      <div class="d-flex justify-content-center">
        <p>
          Este sitio ha sido desarrollado por Lucas, Ian y Carlos del Grupo 4 de la Comisión 4 de la Cohorte B - 2023
          del Informatorio de la Provincia del Chaco.
        </p>
      </div>
      <div class="d-flex justify-content-center">
        <section class="text-center mb-3 d-flex">
          <a href="https://www.facebook.com/" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/luucaasrulo/Proyecto-Final-Comicion-4-Grupo-4" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
      </div>
    </section>
  </div>

  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="">Informatorio</a><a> , </a><a class="text-white" href="{% url 'contacto' %}">Contactos</a>
  </div>

</footer>