{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Herramientas informaticas</title>
{% endblock %}

{% block contenido %}
<div class="container-fluid" style="margin-top:0%">
    <h2 class="mbr-section-title mbr-fonts-style aling-center mb-0 display-2"
        style="text-align:center; font-size:30px;">
        <strong>HERRAMIENTAS INFORMATICAS</strong>
    </h2>
</div>
<div class="container mt-3">
    {% if post %}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            {% for p in post1 %}
            <div class="carousel-item active">
                <div class="card text-bg-dark " data-bs-interval="5000">
                    <img src="{{p.imagen.url}}" class="card-img" alt="{{p.titulo}}">
                    <div class="card-img-overlay col-lg-4 col-sm-9" style=" margin-top: 3%;  margin-bottom: 3%; margin-left: 10%; backdrop-filter: blur(70px);
                            border: 2px solid rgba(255, 255, 255, .5); border-radius: 10px; 
                            box-shadow: 0 0 10px rgba(0, 0, 0, .9); text-shadow: 0 0 50px rgba(0, 0, 0, .9999);">
                        <h1 class="card-title fs-sm" >{{ p.titulo }}</h1>
                        <p class="card-text text-break fs-lg-6" >{{ p.resumen }}</p>
                        <div style=" margin-top: 2%;" class="row align-bottom">
                            <ul>
                                <li class="list-group-item"><img src="{{p.colaborador.imagen.url}}" alt="perfil"
                                        width="40" height="auto" class="rounded-circle flex-shrink-0"> {{p.colaborador}}
                                    {{p.colaborador.apellido}}<a href="{% url 'apps.post:contenido_post' p.pk %}" class="btn btn-secondary "
                            style="font-size: smaller; margin-left: 20px;">Leer
                            mas</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for p in post %}
            <div class="carousel-item">
                <div class="card text-bg-dark" data-bs-interval=" 5000">
                    <img src="{{p.imagen.url}}" class="card-img" alt="{{p.titulo}}">
                    <div class="card-img-overlay col-lg-4 col-sm-9" style=" margin-top: 3%;  margin-bottom: 3%; margin-left: 10%; backdrop-filter: blur(70px);
                            border: 2px solid rgba(255, 255, 255, .5); border-radius: 10px; 
                            box-shadow: 0 0 10px rgba(0, 0, 0, .9); text-shadow: 0 0 50px rgba(0, 0, 0, .9999);">
                        <h1 class="card-title fs-lg-1">{{ p.titulo }}</h1>
                        <p class="card-text fs-lg-3">{{ p.resumen }}</p>
                        <div style=" margin-top: 2%;" class="row align-bottom">
                            <ul>
                                <li class="list-group-item"><img src="{{p.colaborador.imagen.url}}" alt="perfil"
                                        width="40" height="auto" class="rounded-circle flex-shrink-0"> {{p.colaborador}}
                                    {{p.colaborador.apellido}}<a href="{% url 'apps.post:contenido_post' p.pk %}" class="btn btn-secondary "
                            style="font-size: smaller; margin-left: 20px;">Leer
                            mas</a>
                                </li>
                            </ul>
                            
                        </div>

                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}
    <div class="container-fluid d-flex justify-content-center" style="margin-top: 2%;">
        <a href="{% url 'apps.post:listar_post' %}" class="btn btn-secondary">Ver mas posteos</a>
    </div>
</div>
{% endblock %}