{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Agregar post</title>
{% endblock %}

{% block css %}
<link rel='stylesheet' href='{% static "css/registro.css" %}'>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row formulario">
        <div class="col-md-8 offset-md-2">
            <div class="signup-form">
                <h2 class="form-title">Agregar un Post</h2>
                <form enctype="multipart/form-data" method="post">{% csrf_token %}
                    <div>
                        <div class="form-group">
                            <label for="id_nombre"><i class="fa-solid fa-heading"></i></label>
                            {{form.titulo}}
                        </div>

                        <div class="form-group">
                            <label for="id_nombre"><i class="fa-solid fa-clipboard-list"></i></label>
                            {{form.resumen}}
                        </div>

                        <div class="form-group">
                            <label for="id_nombre"><i class="fa-solid fa-clipboard-list"></i></label>
                            {{form.autor}}
                        </div>

                        <div class="form-group">
                            <div class="django-ckeditor-widget" id="ckeditor" data-field-id="id_contenido"
                                style="display: inline-block;">
                                <!-- <textarea class="ckeditor" name="contenido" id="ckeditor"></textarea>  -->
                                {{form.media}}
                                {{form.contenido|safe}}
                            </div>
                            <!-- <script>
                                ClassicEditor
                                    .create(document.querySelector('.ckeditor'))
                                    .catch(error => {
                                        console.error(error);
                                    });
                            </script> -->
                        </div>

                        <div class="form-group">
                            <span class="helptext">Categoria: </span>
                            {{form.categoria}}
                        </div>
                        <div class="form-group">
                            <span class="helptext">Activo: </span>
                            {{form.activo}}
                        </div>
                        <div class="form-group">
                            <label for="id_nombre"><i class="fa-solid fa-image"></i></label>
                            {{form.imagen}}
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#Guardar">Añadir Post</button>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal" id="Guardar" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Post Modificado</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-dark bg-white">Su post fue registrado con exito</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    document.getElementById("id_titulo").placeholder = "Titulo";
    document.getElementById("id_resumen").placeholder = "Resumen";
    document.getElementById("id_contenido").placeholder = "Contenido";
    document.getElementById("id_categoria").placeholder = "Categoria";
    document.getElementById("id_activo").placeholder = "Activo";
    document.getElementById("id_imagen").placeholder = "Imagen";
</script>
{% endblock %}